<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">

    <Properties>
        <Property name="csvLog1.fileName">deleteOwnerBtnLog</Property>
        <Property name="csvLog3.fileName">ownerTabChangeLog</Property>
        <Property name="csvLog4.fileName">welcomePageLog</Property>
        <!-- <Property name="csvLog3.fileName">welcomePageLog</Property>  -->
        <Property name="file-header">"%-5p [%t]: %m%n"</Property>
    </Properties>

    <Appenders>

        <Console name="STDIO" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
            </PatternLayout>
        </Console>

        <RollingFile name="csvLog1.fileName"
                     fileName="logs/${csvLog1.fileName}.csv"
                     filePattern="${csvLog1.filename}-%d{MM-dd-yyyy}-%i.csv">
            <CsvLogEventLayout delimiter="," header="${file-header}\n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingFile>

        

        <RollingFile name="csvLog3.fileName"
                     fileName="logs/${csvLog3.fileName}.csv"
                     filePattern="${csvLog3.filename}-%d{MM-dd-yyyy}-%i.csv">
            <CsvLogEventLayout delimiter="," header="${file-header}\n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingFile>

        

        <RollingFile name="csvLog4.fileName"
                     fileName="logs/${csvLog4.fileName}.csv"
                     filePattern="${csvLog4.filename}-%d{MM-dd-yyyy}-%i.csv">
            <CsvLogEventLayout delimiter="," header="${file-header}\n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="all">
            <AppenderRef ref="STDIO"/>
        </Root>

        <Logger  name="logVersionOneHomeBtn" level="info" additivity="false">
            <AppenderRef ref="csvLog1.fileName"/>
        </Logger >

        <Logger  name="logVersionTwoHomeBtn" level="info" additivity="false">
            <AppenderRef ref="csvLog1.fileName"/>
        </Logger >

        <Logger  name="logOwnerTabVerOneOwner" level="info" additivity="false">
            <AppenderRef ref="csvLog3.fileName"/>
        </Logger >

        <Logger  name="logOwnerTabVerTwoOwner" level="info" additivity="false">
            <AppenderRef ref="csvLog3.fileName"/>
        </Logger >

        <Logger  name="logOwnerTabVerOneWelcome" level="info" additivity="false">
            <AppenderRef ref="csvLog4.fileName"/>
        </Logger >

        <Logger  name="logOwnerTabVerTwoWelcome" level="info" additivity="false">
            <AppenderRef ref="csvLog4.fileName"/>
        </Logger >
<!-- 
        <Logger name="Time spent on welcome " level="info" additivity="false">
            <AppenderRef ref="csvLog2.fileName"/>
        </Logger> -->

    </Loggers>
</Configuration>
