<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'featureToggle')}">

<body>
<style>

    table {
        border: 1px solid black;
    }

    th {
        font-size: 28px;
        padding: 10px;
        border-bottom: 1px solid black;
    }

    td{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
<table align="center" cellpadding="10dp">
    <form action="featureToggle" method="post">
        <tr>
            <th>
                Features
            </th>
            <th>
                Toggles
            </th>
        </tr>
        <tr>
            <td>Access owner page</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerPage()}">
                <label>
                    <select name="ownerPage">
                            <option value="Enable">Enable</option>
                            <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerPage()}">
                <label>
                    <select name="ownerPage">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner add</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerCreate()}">
                <label>
                    <select name="ownerCreate">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerCreate()}">
                <label>
                    <select name="ownerCreate">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner find</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerFind()}">
                <label>
                    <select name="ownerFind">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerFind()}">
                <label>
                    <select name="ownerFind">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner edit</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerEdit()}">
                <label>
                    <select name="ownerEdit">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerEdit()}">
                <label>
                    <select name="ownerEdit">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet add</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetAdd()}">
                <label>
                    <select name="petAdd">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetAdd()}">
                <label>
                    <select name="petAdd">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet edit</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetEdit()}">
                <label>
                    <select name="petEdit">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetEdit()}">
                <label>
                    <select name="petEdit">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet visit</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetVisit()}">
                <label>
                    <select name="petVisit">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetVisit()}">
                <label>
                    <select name="petVisit">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>General Incremental Replication</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableIR()}">
                <label>
                    <select name="incrementalReplication">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableIR()}">
                <label>
                    <select name="incrementalReplication">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner create IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerCreateIR()}">
                <label>
                    <select name="ownerCreateIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerCreateIR()}">
                <label>
                    <select name="ownerCreateIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner edit IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerEditIR()}">
                <label>
                    <select name="ownerEditIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerEditIR()}">
                <label>
                    <select name="ownerEditIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet add IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetAddIR()}">
                <label>
                    <select name="petAddIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetAddIR()}">
                <label>
                    <select name="petAddIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet edit IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetEditIR()}">
                <label>
                    <select name="petEditIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetEditIR()}">
                <label>
                    <select name="petEditIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet visit IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetVisitIR()}">
                <label>
                    <select name="petVisitIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetVisitIR()}">
                <label>
                    <select name="petVisitIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Date incremental</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableIncrementDate()}">
                <label>
                    <select name="incrementDate">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableIncrementDate()}">
                <label>
                    <select name="incrementDate">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Vet Page</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableVetPage()}">
                <label>
                    <select name="vetPage">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableVetPage()}">
                <label>
                    <select name="vetPage">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Shadow write</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableShadowWrite()}">
                <label>
                    <select name="shadowWrite">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableShadowWrite()}">
                <label>
                    <select name="shadowWrite">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Shadow read</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableShadowRead()}">
                <label>
                    <select name="shadowRead">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableShadowRead()}">
                <label>
                    <select name="shadowRead">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid">
            <td>Debugging system out print</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableDebuggingSystemOutPrint()}">
                <label>
                    <select name="debuggingSystemOutPrint">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableDebuggingSystemOutPrint()}">
                <label>
                    <select name="debuggingSystemOutPrint">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Change the layout of top nav bar? (Disable means Rollback)</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableTabOwnerChange()}">
                <label>
                    <select name="ownerTabChange">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableTabOwnerChange()}">
                <label>
                    <select name="ownerTabChange">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid;">
            <td  style="padding-left: 30px;">Version of top nav bar</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableTabOwnerChangeRandom()}">
                <label>
                    <select name="ownerTabChangeRandom">
                        <option value="Enable">New version</option>
                        <option value="Disable">Old version</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableTabOwnerChangeRandom()}">
                <label>
                    <select name="ownerTabChangeRandom">
                        <option value="Disable">Old version</option>
                        <option value="Enable">New version</option>
                    </select>
                </label>
            </td>
        </tr>
        <!-- TODO -->
        <tr>
            <td>Owner delete (Rollback)</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableDeleteOwner()}">
                <label>
                    <select name="ownerDelete">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableDeleteOwner()}">
                <label>
                    <select name="ownerDelete">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Feature 4 </td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableFeature4()}">
                <label>
                    <select name="feature4">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableFeature4()}">
                <label>
                    <select name="feature4">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Delete Visit</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isISEnableDeleteVisit()}">
                <label>
                    <select name="ownerDeleteRandom1">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isISEnableDeleteVisit()}">
                    <label>
                        <select name="visitDelete">
                                <option value="Disable">Disable</option>
                                <option value="Enable">Enable</option>
                        </select>
                    </label>
            </td>
        </tr>

        <tr>

            <!--<td>Tab Owner Change</td>-->
            <!--<td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableTabOwnerChange()}">-->
                <!--<label>-->
                    <!--<select name="ownerTab">-->

                        <!--<option value="Enable">Enable</option>-->
                        <!--<option value="Disable">Disable</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</td>-->

            <!---->

            <!--<td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableTabOwnerChange()}">-->
                <!--<label>-->
                    <!--<select name="ownerTab">-->
                        <!--<option value="Enable">Enable</option>-->
                        <!--<option value="Disable">Disable</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>New Welcome Page</td>-->
            <!--<td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isEnabledLegacyWelcomePage()}">-->
                <!--<label>-->
                    <!--<select name="newWelcomePage">-->
                        <!--<option value="Enable">Enable</option>-->
                        <!--<option value="Disable">Disable</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</td>-->
            <!--<td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isEnabledLegacyWelcomePage()}">-->
                <!--<label>-->
                    <!--<select name="newWelcomePage">-->

                        <!--<option value="Disable">Disable</option>-->
                        <!--<option value="Enable">Enable</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</td>-->
        </tr>
        <tr>
            <td style="padding-left: 30px">Message to display (randomize once refreshing homepage)</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isWelcomePageToggle()}">
                <label>
                    <select name="welcomePageToggle">
                        <option value="Enable">"Welcome"</option>
                        <option value="Disable">"Sup Dawg"</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isWelcomePageToggle()}">
                <label>
                    <select name="welcomePageToggle">
                        <option value="Disable">"Sup Dawg"</option>
                        <option value="Enable">"Welcome"</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr align="center">
            <td>
                <input id="submitButton" type="Submit" value="Submit"/>
            </td>
            <td>
            </td>
        </tr>
    </form>
</table>
</body>

</html>