<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'featureToggle')}">

<body>
<!-- Toggle switch reference: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch -->
<!-- <style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .rowHead {
        width: 200px;
        text-align: center  ;
    }

    th {
        heigh: 50px;
    }
</style> -->
<style>

    table {
        border: 1px solid black;
    }

    th {
        font-size: 28px;
        padding: 10px;
        border-bottom: 1px solid black;
    }

    td{
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
</style>
<!--<table align="center">
    <tr>
        <th class="rowHead">Features</th>
        <th class="rowHead">Toggles</th>
    </tr>
    <tr>
        <td>test 1</td>
        <td align="center"><label class="switch">
            <input type="checkbox" id="switch1">
            <span class="slider round"></span>
        </label></td>
    </tr>
    <tr>
        <td>test 2</td>
        <td align="center"><label class="switch">
            <input type="checkbox" id="switch2">
            <span class="slider round"></span>
        </label></td>
    </tr>
    <tr>
        <td>test </td>
        <td align="center"><label class="switch">
            <input type="checkbox" id="switch">
            <span class="slider round"></span>
        </label></td>
    </tr>
</table>

<table align="center">
    <tr>
        <th class="rowHead">Features</th>
    </tr>
    <tr>
        <td>Access to Owner page</td>
    </tr>
    <tr>
        <td>Access to Owner creation page</td>
    </tr>
    <tr>
        <td>Function of finding owner</td>
    </tr>
    <tr>
        <td>Function of editing owner</td>
    </tr>
</table>
<table align="center">
    <tr>
        <th class="rowHead">Features</th>
    </tr>
    <tr>
        <td>Access to Owner page</td>
    </tr>
    <tr>
        <td>Access to Owner creation page</td>
    </tr>
    <tr>
        <td>Function of finding owner</td>
    </tr>
    <tr>
        <td>Function of editing owner</td>
    </tr>
</table> -->
<table align="center" cellpadding="10dp">
    <form action="featureToggle" method="post">
        <tr>
            <th>
                Features
            </th>
            <th>
                Toggles
            </th>
        </tr>
        <tr>
            <td>Access owner page</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerPage()}">
                <label>
                    <select name="ownerPage">
                        <!--<script>
                            t1();
                            function t1() {
                                var ownerPageT = Java.type("org.springframework.samples.petclinic.FeatureToggles");
                                var ownerPageT2 = ownerPageT.
                                if (ownerPageT)
                                    document.write("<option value=\"Enable\">Enable</option> <option value=\"Disable\">Disable</option>");
                                    }
                        </script> -->
                            <option value="Enable">Enable</option>
                            <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerPage()}">
                <label>
                    <select name="ownerPage">
                        <!--<script>
                            t1();
                            function t1() {
                                var ownerPageT = Java.type("org.springframework.samples.petclinic.FeatureToggles");
                                var ownerPageT2 = ownerPageT.
                                if (ownerPageT)
                                    document.write("<option value=\"Enable\">Enable</option> <option value=\"Disable\">Disable</option>");
                                    }
                        </script> -->
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner add</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerCreate()}">
                <label>
                    <select name="ownerCreate">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerCreate()}">
                <label>
                    <select name="ownerCreate">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner find</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerFind()}">
                <label>
                    <select name="ownerFind">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerFind()}">
                <label>
                    <select name="ownerFind">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner edit</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerEdit()}">
                <label>
                    <select name="ownerEdit">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerEdit()}">
                <label>
                    <select name="ownerEdit">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet add</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetAdd()}">
                <label>
                    <select name="petAdd">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetAdd()}">
                <label>
                    <select name="petAdd">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet edit</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetEdit()}">
                <label>
                    <select name="petEdit">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetEdit()}">
                <label>
                    <select name="petEdit">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet visit</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetVisit()}">
                <label>
                    <select name="petVisit">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetVisit()}">
                <label>
                    <select name="petVisit">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>General Incremental Replication</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableIR()}">
                <label>
                    <select name="incrementalReplication">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableIR()}">
                <label>
                    <select name="incrementalReplication">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner create IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerCreateIR()}">
                <label>
                    <select name="ownerCreateIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerCreateIR()}">
                <label>
                    <select name="ownerCreateIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Owner edit IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerEditIR()}">
                <label>
                    <select name="ownerEditIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableOwnerEditIR()}">
                <label>
                    <select name="ownerEditIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet add IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetAddIR()}">
                <label>
                    <select name="petAddIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetAddIR()}">
                <label>
                    <select name="petAddIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet edit IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetEditIR()}">
                <label>
                    <select name="petEditIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetEditIR()}">
                <label>
                    <select name="petEditIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Pet visit IR</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetVisitIR()}">
                <label>
                    <select name="petVisitIR">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnablePetVisitIR()}">
                <label>
                    <select name="petVisitIR">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Date incremental</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableIncrementDate()}">
                <label>
                    <select name="incrementDate">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableIncrementDate()}">
                <label>
                    <select name="incrementDate">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Vet Page</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableVetPage()}">
                <label>
                    <select name="vetPage">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableVetPage()}">
                <label>
                    <select name="vetPage">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Shadow write</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableShadowWrite()}">
                <label>
                    <select name="shadowWrite">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableShadowWrite()}">
                <label>
                    <select name="shadowWrite">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Shadow read</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableShadowRead()}">
                <label>
                    <select name="shadowRead">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableShadowRead()}">
                <label>
                    <select name="shadowRead">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr style="border-bottom: 1px solid">
            <td>Debugging system out print</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableDebuggingSystemOutPrint()}">
                <label>
                    <select name="debuggingSystemOutPrint">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableDebuggingSystemOutPrint()}">
                <label>
                    <select name="debuggingSystemOutPrint">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Feature 1</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableFeature1()}">
                <label>
                    <select name="feature1">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableFeature1()}">
                <label>
                    <select name="feature1">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Feature 2</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isFeature2()}">
                <label>
                    <select name="feature2">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isFeature2()}">
                <label>
                    <select name="feature2">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Feature 3</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isFeature3()}">
                <label>
                    <select name="feature3">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isFeature3()}">
                <label>
                    <select name="feature3">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Feature 4</td>
            <td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableFeature4()}">
                <label>
                    <select name="feature4">
                        <option value="Enable">Enable</option>
                        <option value="Disable">Disable</option>
                    </select>
                </label>
            </td>
            <td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableFeature4()}">
                <label>
                    <select name="feature4">
                        <option value="Disable">Disable</option>
                        <option value="Enable">Enable</option>
                    </select>
                </label>
            </td>
        </tr>


        <tr>

            <!--<td>Tab Owner Change</td>-->
            <!--<td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableTabOwnerChange()}">-->
                <!--<label>-->
                    <!--<select name="ownerTab">-->

                        <!--<option value="Enable">Enable</option>-->
                        <!--<option value="Disable">Disable</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</td>-->

            <!---->

            <!--<td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isIsEnableTabOwnerChange()}">-->
                <!--<label>-->
                    <!--<select name="ownerTab">-->
                        <!--<option value="Enable">Enable</option>-->
                        <!--<option value="Disable">Disable</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td>New Welcome Page</td>-->
            <!--<td th:if="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isEnabledLegacyWelcomePage()}">-->
                <!--<label>-->
                    <!--<select name="newWelcomePage">-->
                        <!--<option value="Enable">Enable</option>-->
                        <!--<option value="Disable">Disable</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</td>-->
            <!--<td th:unless="${T(org.springframework.samples.petclinic.FeatureToggles.FeatureToggles).isEnabledLegacyWelcomePage()}">-->
                <!--<label>-->
                    <!--<select name="newWelcomePage">-->

                        <!--<option value="Disable">Disable</option>-->
                        <!--<option value="Enable">Enable</option>-->
                    <!--</select>-->
                <!--</label>-->
            <!--</td>-->
        </tr>
        <tr align="center">
            <td>
                <input id="submitButton" type="Submit" value="Submit"/>
                <script>

                    /**document.getElementById("submitButton").onclick = function () {
                        location.href = "/home";
                    };

                    function changeToggles() {
                        var toggles = [];
                         toggles.push(document.getElementById("ownerPage").value);
                         toggles.push(document.getElementById("ownerCreate").value);
                         toggles.push(document.getElementById("ownerFind").value);
                         toggles.push(document.getElementById("ownerEdit").value);

                        // Package.org.springframework.samples.petclinic.FeatureToggles.FeatureToggles.doPost();
                    } **/
                </script>
            </td>
            <td>
            </td>
        </tr>
    </form>
</table>
</body>

</html>